<%= form_with model: @book, local: true do |f| %>
  <div class="field">
    <%= f.label :title, "Title" %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body, "Body" %>
    <%= f.text_area :body %>
  </div>
  <%= f.submit "#{@submit_name}" %>
<% end %>